:host {
    display: block;
    margin-top: calc(-1 * var(--ds-content-spacing));
    //margin-bottom: calc(-1 * var(--ds-content-spacing));
    margin-bottom: 20px;
}

.display-3 {
    word-break: break-word;
}

h2 {
  font-size: 30px;
  color: #0091EA;
}
h3 {
  font-size: 24px;
}

.jumbotron {
    background-image: url('/assets/storlann/images/dspace-header-bg.gif');
    background-position-x: center;
    background-position-y: bottom;
    background-color: rgb(54, 195, 255);
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 30px;

  .strapline {
    font-size: 2.0em;
    color: #FFF;
    margin-left: 15px;
  }
}

a {
  color: var(--ds-home-news-link-color);

  @include hover {
    color: var(--ds-home-news-link-hover-color);
  }
}

.ss-shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
    0 2px 10px 0 rgba(0,0,0,0.12);
}

.ss-intro {
  background-color: #fff;
  padding: 15px;
  min-height: 300px;
}

.ss-carousel {
  background-color: #ec0072;
  min-height: 270px;
  color: white;

  a {
    color: white;
  }

  .ss-slide {
    padding: 15px;
    display: flex;
    flex-direction: column;

    img {
      height: 100%;
      width: auto;
      min-height: 100px;
    }
  }
}


