<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      
        <h1 class="col-lg-3"><img src="/assets/storlann/images/seo-sibh-logo.svg" width="290" height="80" alt="Seo Sibh"/></h1>
        <p class="col-lg-9 strapline">Stòr didseatach do ghoireasan Gàidhlig</p>
      
    </div>
    
    
  </div>
</div>

<div class="container">
  <div class="row ss-intro-wrap">
    <div class="col-md-4 welcome">
      <div class="ss-intro ss-shadow">
        <h2>Fàilte</h2>

        <p>Tha an timcheallan a’ sealltainn nithean a chaidh a chur ris an stòr bho chionn ghoirid. Thoir sùil timcheall feuch dè lorgas tu!</p>
        <p>Air neo, lorg goireas le sùil a thoirt tro gach roinn (<a href="/handle/1/60">trath-ìrean</a>, <a href="/handle/1/63">bun-sgoil</a>, <a href="/handle/1/59">àrd-sgoil</a>, <a href="/handle/1/61">pàrantan</a> agus <a href="/handle/1/62">measgachadh</a>).</p>
      </div>
    </div>
    <div class="col-md-8">
      
    <ngb-carousel class="ss-carousel ss-shadow">
        <ng-template ngbSlide *ngFor="let item of items; index as i">

          <div class="ss-slide">
            <a class="thumbnail" href="/handle/{{ item.handle }}">
              <img src="{{ item.thumbnailUrl }}" alt="item thumbnail"/>
             
              <!-- https://seosibh.storlann.co.uk/server/api/core/bitstreams/080963a7-9dd2-4328-9e80-0608ad5c0af1/content -->
            </a>
            <h3>{{ item.name }}</h3>
          </div>
        </ng-template>
    </ngb-carousel>
    </div>
  </div>
</div>

<div class="container">
  <div class="row ss-featured">
    <div class="col-md-4" *ngFor="let patch of staticPatches">
      <div class="card ss-shadow {{patch.accent}}">
        <div class="card-image">
          <a href="{{patch.url}}">
            <img src="/assets/storlann/images/{{patch.image}}" alt="{{patch.alt}}" width="300" height="195"/>
            <span class="card-title">{{patch.title}}</span>
          </a>
        </div>
        <div class="card-content">
          <p>{{patch.text}} </p>
        </div>
        <div class="card-action">
          <a href="{{patch.url}}" target="new_blank">{{ patch.action}}</a>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="container">
  <div class="row communities-wrap">
    <div class="col-md-12">
      <div class="ss-communities ss-shadow">
        <div class="row">

          <div class="col-md-4">
            <h2 class="cliptext">Coimhearsnachdan</h2>

            <div class="communities-sub">
              <a href="/handle/1/60">
                <img src="/assets/storlann/images/trath-irean-icon.png" width="175" height="175" alt="Trath-irean" class="ss-shadow"/>
              </a>
              <h3><a href="/handle/1/60">Tràth-ìrean</a></h3>
              Early years resources
            </div>

            <div class="communities-sub">
              <a href="/handle/1/63">
                <img src="/assets/storlann/images/bun-sgoil-icon.png" width="175" height="175" alt="Bun-sgoil" class="ss-shadow"/>
              </a>
              <h3><a href="/handle/1/63">Bun-sgoil</a></h3>
              Primary school resources
            </div>

            <div class="communities-sub">
              <a href="/handle/1/59">
                <img src="/assets/storlann/images/ard-sgoil-icon.png" width="175" height="175" alt="Àrd-sgoil" class="ss-shadow"/>
              </a>
              <h3><a href="/handle/1/60">Àrd-sgoil</a></h3>
              High school resources
            </div>

            <div class="communities-sub">
              <a href="/handle/1/59">
                <img src="/assets/storlann/images/parantan-icon.png" width="175" height="175" alt="Pàrantan" class="ss-shadow"/>
              </a>
              <h3><a href="/handle/1/60">Pàrantan</a></h3>
              Parents’ resources
            </div>

            <div class="communities-sub">
              <a href="/handle/1/62">
                <img src="/assets/storlann/images/measgachadh-icon.png" width="175" height="175" alt="Measgachadh" class="ss-shadow"/>
              </a>
              <h3><a href="/handle/1/62">Measgachadh</a></h3>
              General resources
            </div>
          </div>

          <div class="col-md-4">
            <h2>Ùghdar</h2>

            <ul class="list-group">
              <li class="list-group-item" *ngFor="let author of authors">
                <span class="badge">{{author.count}}</span>
                <a href="/browse/author?value={{author.label}}">{{author.label}}</a>
              </li>
            </ul>

          </div>

          <div class="col-md-4">
            <h2>Cuspair</h2>

            <ul class="list-group">
              <li class="list-group-item" *ngFor="let subject of subjects">
                <span class="badge">{{subject.count}}</span>
                <a href="/browse/subject?value={{subject.label}}">{{subject.label}}</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>