:host {
    display: block;
    margin-top: calc(-1 * var(--ds-content-spacing));
    //margin-bottom: calc(-1 * var(--ds-content-spacing));
    margin-bottom: 20px;
}

.display-3 {
    word-break: break-word;
}

h2 {
  font-size: 30px;
  color: #0091EA;
}
h3 {
  font-size: 24px;
}

.jumbotron {
    background-image: url('/assets/storlann/images/dspace-header-bg.gif');
    background-position-x: center;
    background-position-y: bottom;
    background-color: rgb(54, 195, 255);
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 30px;

  .strapline {
    font-size: 2.0em;
    color: #FFF;
    margin-left: 15px;
  }
}

a {
  color: var(--ds-home-news-link-color);

  @include hover {
    color: var(--ds-home-news-link-hover-color);
  }
}

.ss-shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
    0 2px 10px 0 rgba(0,0,0,0.12);
}

.ss-intro {
  background-color: #fff;
  padding: 15px;
  min-height: 300px;
}

.ss-carousel {
  background-color: #ec0072;
  min-height: 300px;
  color: white;

  a {
    color: white;
    align-self: center;
  }

  .ss-slide {
    padding: 15px 90px;
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
      height: 100%;
      width: auto;
      min-height: 100px;
    }
  }
}


.card {
  margin-top: 30px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;

  .card-image {
    position:relative;
    overflow: hidden;

    .card-title {
      margin:0;
      position: absolute;
      bottom:0;
      left:0;
      padding:16px;
      color: #fff;
      font-size: 24px;
      font-weight: 300;
      text-transform: uppercase;
    }
    img {
      display: block;
      max-width: 100%;
      width:100%;
      height: auto;
    }
  }

  .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
  }

  .card-action {
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 16px;
    text-transform: uppercase;
    a {
      color:#ffab40;
      font-size: 14px;
    }
  }
}

.ey {
  border-bottom: 6px solid #87c734;
  .card-title {
    background-color: #87c734;
  }
}

.bs {
  border-bottom: 6px solid #00BFD8;
  .card-title {
    background-color: #00BFD8;
  }
}

.as{
  border-bottom: 6px solid #91389D;
  .card-title {
    background-color: #91389D;
  }
}




.communities-wrap
{
  margin-bottom: 20px;

  h2 {
    color: #B22C00;
  }

  .ss-communities {
    margin-top: 30px;
    padding: 20px;
    background: #FFB600 url('/assets/storlann/images/communities-bg.png') center right no-repeat;
  }

  .communities-sub {
    clear:both;

    img {
      float: left;
      margin: 0 7px 10px 0;
      width:70px;
      height: auto;
      display: block;
    }
  }

  .list-group {
    li {
      background-color:#fff0ce;
      color:#ee0071;
    }
    .badge {
      background-color: #ee0071;
      color:#fff0ce;
    }
    a {
      color: #ee0071;
    }
  }

}