:host {
    display: block;
    margin-top: calc(-1 * var(--ds-content-spacing));
    margin-bottom: calc(-1 * var(--ds-content-spacing));
}

.display-3 {
    word-break: break-word;
}

.jumbotron {
    background-image: url('/assets/storlann/images/dspace-header-bg.gif');
    background-position-x: center;
    background-position-y: bottom;
    background-color: rgb(54, 195, 255);
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 30px;

  .strapline {
    font-size: 2.0em;
    color: #FFF;
    margin-left: 15px;
  }
}

a {
  color: var(--ds-home-news-link-color);

  @include hover {
    color: var(--ds-home-news-link-hover-color);
  }
}
