<ng-container *ngVar="(breadcrumbs$ | async) as breadcrumbs">
    <nav *ngIf="(showBreadcrumbs$ | async)" aria-label="breadcrumb" class="nav-breadcrumb">
        <ol class="container breadcrumb">
           <li class="breadcrumb-item">
                <a href="/home">
                    <img src="/assets/storlann/images/seo-sibh-logo.svg" width="290" height="80" class="bc-logo" alt="{{ 'home.breadcrumbs' | translate}}"/>
                </a>
                
            </li>
            <ng-container *ngFor="let bc of breadcrumbs; let last = last;">
                <ng-container *ngTemplateOutlet="!last ? bc : activeBreadcrumb; context: bc"></ng-container>
            </ng-container>
        </ol>
    </nav>

    
    <ng-template #activeBreadcrumb let-text="text">
        <li class="breadcrumb-item active" aria-current="page"><div class="breadcrumb-item-limiter"><div class="text-truncate">{{text | translate}}</div></div></li>
    </ng-template>
</ng-container>

