 <div class="container">
  <div class="row jotform-main">
    <div class="col-md-7"> <br>
      <br>
      
<form class="jotform-form" ngNoForm action="https://submit.jotformeu.com/submit/40713786574362/" method="post" enctype="multipart/form-data" name="form_40713786574362" id="40713786574362" accept-charset="utf-8" autocomplete="on">
  <input type="hidden" name="formID" value="40713786574362" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_8" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-small">
          <div class="header-text httal htvam">
            <h3 id="header_8" class="form-header" data-component="header">
              Cuir faidhle gu Stòrlann
            </h3>
            <div id="subHeader_8" class="form-subHeader">
              Send a file to Stòrlann
            </div>
          </div>
        </div>
      </li>
      <li class="form-line form-line-column form-col-1 jf-required" data-type="control_fullname" id="id_3">
        <label class="form-label form-label-top" id="label_3" for="first_3">
          Ainm / Name
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_3" class="form-input-wide jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
              <input type="text" id="first_3" name="q3_ainm3[first]" class="form-control form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_3 given-name" size="10" value="" data-component="first" aria-labelledby="label_3 sublabel_3_first" required="true" />
              <label class="form-sub-label" for="first_3" id="sublabel_3_first" style="min-height:13px" aria-hidden="false"> Ciad ainm / First Name </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
              <input type="text" id="last_3" name="q3_ainm3[last]" class="form-control form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_3 family-name" size="15" value="" data-component="last" aria-labelledby="label_3 sublabel_3_last" required="true" />
              <label class="form-sub-label" for="last_3" id="sublabel_3_last" style="min-height:13px" aria-hidden="false"> Dàrna ainm / Second Name </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line form-line-column form-col-2 jf-required" data-type="control_email" id="id_4">
        <label class="form-label form-label-top" id="label_4" for="input_4">
          Post-d / Email
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_4" class="form-input-wide jf-required">
          <span class="form-sub-label-container" style="vertical-align:top">
            <input type="email" id="input_4" name="q4_postd" class="form-control form-textbox validate[required, Email]" data-defaultvalue="" size="30" value="" placeholder="eg myname@example.com" data-component="email" aria-labelledby="label_4 sublabel_input_4" required="true" />
            <label class="form-sub-label" for="input_4" id="sublabel_input_4" style="min-height:13px" aria-hidden="false"> Gus leigeil leinn fios a chur air ais / So that we can get back to you </label>
          </span>
        </div>
      </li>
      <li class="form-line" data-type="control_text" id="id_11">
        <div id="cid_11" class="form-input-wide">
          <div id="text_11" class="form-html" data-component="text">
            <h4>Goireas / Resource</h4>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_9">
        <label class="form-label form-label-left form-label-auto" id="label_9" for="input_9">  </label>
        <div id="cid_9" class="form-input">
          <div class="form-single-column form-radio" role="group" aria-labelledby="label_9" data-component="radio">
            <span class="form-radio-item">
              <span class="dragger-item">
              </span>
              <input type="radio" aria-describedby="label_9" class="form-radio" id="input_9_0" name="q9_input9" value="Bun-sgoil" />
              <label id="label_input_9_0" for="input_9_0"> Bun-sgoil </label>
            </span>
            <span class="form-radio-item">
              <span class="dragger-item">
              </span>
              <input type="radio" aria-describedby="label_9" class="form-radio" id="input_9_1" name="q9_input9" value="Àrd-sgoil" />
              <label id="label_input_9_1" for="input_9_1"> Àrd-sgoil </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_10">
        <label class="form-label form-label-left form-label-auto" id="label_10" for="input_10"> Ìre / Level </label>
        <div id="cid_10" class="form-input">
          <input type="text" id="input_10" name="q10_ire10" data-type="input-textbox" class="form-control form-textbox" data-defaultvalue="" size="70" value="" placeholder=" " data-component="textbox" aria-labelledby="label_10" />
        </div>
      </li>
      <li class="form-line form-line-column form-col-1" data-type="control_textarea" id="id_6">
        <label class="form-label form-label-top" id="label_6" for="input_6"> Cunntas / Description </label>
        <div id="cid_6" class="form-input-wide">
          <span class="form-sub-label-container">
            <textarea id="input_6" class="form-textarea" name="q6_cunntas" cols="57" rows="6" data-component="textarea" aria-labelledby="label_6 sublabel_input_6"></textarea>
            <label class="form-sub-label" for="input_6" id="sublabel_input_6" style="min-height:13px" aria-hidden="false">
              Am bu chòir fios a bhith againn air rud sam bith mun fhaidhle seo?
              <br />
              Do we need to know anything about this file?
            </label>
          </span>
        </div>
      </li>
      <li class="form-line" data-type="control_fileupload" id="id_5">
        <h4><label class="form-label form-label-left form-label-auto" id="label_5" for="input_5"> Luchdaich suas faidhle / Upload File </label></h4>

        <div id="cid_5" class="form-input">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top">
             
              <input type="file" id="input_5" name="q5_luchdaichSuas5[]" multiple="" class="btn btn-secondary form-upload-multiple" data-file-accept="*" data-file-maxsize="307201" data-file-minsize="0" data-file-limit="0" data-component="fileupload" />
              <label class="form-sub-label" for="input_5" style="min-height:13px" aria-hidden="false">
                Faodaidh tu faidhle de sheòrsa sam bith a luchdachadh suas. 300 MB aig a' char as motha
                <br />
                You can upload any type of file. Max: 300 MB
              </label>
            </span>
            
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div style="text-align:left" data-align="left" class="form-buttons-wrapper form-buttons-left   jsTest-button-wrapperField">
            <button id="input_2" type="submit" class="btn btn-large btn-primary" data-component="button" data-content="">
              Cuir a-nis! / Send Now!
            </button>
          </div>
        </div>
      </li>
      
    </ul>
  </div>
  <!--<script>
  JotForm.showJotFormPowered = "0";
  </script>
  <script>
  JotForm.poweredByText = "Powered by Jotform";
  </script>
  <input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="40713786574362" />
  <script type="text/javascript">
  var all_spc = document.querySelectorAll("form[id='40713786574362'] .si" + "mple" + "_spc");
for (var i = 0; i < all_spc.length; i++)
{
  all_spc[i].value = "40713786574362-40713786574362";
}
  </script>-->
</form>


    </div>
    <div class="col-md-5"> <br>
      <img src="/assets/storlann/images/share-network.png" width="416" height="534" alt="Image: Education - Sharing Network" class="img-responsive"> </div>
  </div>
</div>

  <div class="row jotform-info">
  <div class="container">
    <div class="col-md-6">
      <h3>A' CO-ROINN FHAIDHLEACHAN </h3>
      <p>Tha goireas aig Stòrlann a-nis a leigeas le luchd-cleachdaidh stuthan a tha iad fhèin air ullachadh a luchdachadh suas gu stòr susbaint didseatach. </p>
      <p>Aon uair ’s gun tèid na stuthan a luchdachadh suas, nì Stòrlann luachadh orra, sgioblachdh a thaobh càileachd agus gràmar, agus eadar-theangachadh ma tha sin a dhìth. </p>
      <p>An uair sin bidh na stuthan rim faotainn le tidsearan eile airson an cur gu feum. </p>
      <p>Thèid aithne a thoirt don neach bhon tàinig an stòr, ach thèid gabhail ri faidhleachan a thèid a luchdachadh suas air an tuigse nach eil iad fo chòir dlighe-sgrìobhaidh agus gum faodar an co-roinn le daoine eile. </p>
      <p>Tha sinn air faidhleachan fhaighinn mu thràth bho thidsearan agus tha sinn gan luachadh airson co-roinn. </p>
      <p>Tha sinn an dòchas gun toir sibh taic dhuinn leis an iomairt seo. </p>
    </div>
    <h3>FILE SHARING </h3>
    <div class="col-md-6">
      <p><em>Stòrlann now has a facility to enable practitioners to upload resources they have produced themselves to a digital content repository. </em></p>
      <p><em>Once uploaded, Stòrlann will evaluate the resources, conduct a quality and grammar audit, translate if necessary, and then make the resources available for other teachers to use. </em></p>
      <p><em>The originator of the resources will be credited but all files uploaded will  be accepted on the understanding that they will be copyright free and for distribution to others. We have already received files from some teachers and are in the process of evaluating them for sharing. </em></p>
      <p><em>We hope that you will support us with this endeavour. </em></p>
    </div>
  </div>
</div>
